.form-label{
    color:gray;
}

.actionButtons{
    text-align: right;
}


.actionButtons Button {
    margin-left:20px;
}

.error_msg,
.success_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}
#firstname {
	background-color: #ffffff;
  }
  #lastname {
	background-color: #ffffff;
  }
  #phone {
	background-color: #ffffff;
  }
  #email {
	background-color: #ffffff;
  }
  #address {
	background-color: #ffffff;
  }
  .MuiPickersDay-daySelected {
	background-color: #ffffff;
  }
  