.sidebar-list {
  list-style: none;
  padding: 5px;
  
  margin: 20dp;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-list-item {
  padding: 15px 0;
  position: relative;
}

.sidebar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #969ca1;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  position: relative;
}

.icon-container {
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.icon {
  font-size: 50px;
  color: #2E718A;
}

.sidebar-list{
  color:#969ca1;
  background-color:#e4e4e4 ;
}

.sidebar-link:hover {
  color: #2E718A;
}

.sidebar-link.active {
  color: #969ca1;
}

.sidebar-link:hover.icon {
  color: #2E718A;
}

.sidebar-link.active.icon {
  color: #969ca1;
}
.cardlatest {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #969ca1;
  text-align: center;
  transition: 0.3s;
  width: 180px;
  height: 80px;
  margin: 10px;
  background-color: white;
}