.login__button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.login__button-container .btn {
  background-color: #ff0000; /* Red color */
  color: white;
  margin: 0 0.5rem;
}
